doctype html
html
	include header.pug
	body
		.row.center
			.col-10
				h1 Welcome admin
				br
				h3 Add new agreement

				form(method="POST" action="/admin/dodajText")
					.form-group
						label(for="inputNaslov") Naslov: 
						input(type="text" name="naslov").form-control
					.form-group
						textarea(name="vsebina" rows="4" cols="50").form-control
						br
					input(type="submit" value="Submit").btn.btn-primary
				br


				table.table-striped.table
					thead
						tr
							th User
							th Parent Conformation
					tbody
						each user in allUsers
							tr
								td #{user.name} (#{user.email})
								if (confs.find(x => x.user === user.email))
									td #{confs.find(x => x.user === user.email).parent}
								else
									td Not confirmed
