doctype html
html
	include header.pug
	body
		.row.center
			.col-10
				form(method="POST" action="/sendMail")
				if user.parents[0] != null
					.form-group
						select(name="email")
							each email in user.parents
								option(value=email)= email
					button.btn.btn-primary(type="submit") Send
				else
					h3 Please #[a(href="/dodajStarsa") ADD] at least one parent email to continue
