doctype html
html
	head
		title prijava
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
		style.
			body {
				padding-top: 40px;
				padding-bottom: 40px;
				background-color: #eee;
			}
	body

		.container
			.form-signin
				h2.form-signin-heading Sign in
				button.btn-si.btn-google(onclick="location.href='/prijava/google';") sign in with google