

a {
  color: #00B7FF;
}

body{
  padding-top: 4.25rem;
  margin:0 auto;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.btn-google {
  background-color: #dd4b39;
  background-image: url("../images/google.svg"); }
.btn-google:hover {
  background-color: #e47365; }
.btn-google:active {
  background-color: #c23321; }

.btn-si {
  background-position: 1em;
  background-repeat: no-repeat;
  background-size: 2em;
  border-radius: 0.5em;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  height: 4em;
  line-height: 1em;
  padding: 0 2em 0 4em;
  text-decoration: none;
  transition: all 0.5s; }